{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row custom-section d-flex align-items-center">
            <div class="col-12 col-lg-4">
                <h2>Casting Vote</h2>
                <h3>Ever been easier</h3>
                <p>With online voting system you're every vote is safe and unhackable with blockchain technology</p>
                <a href="accounts/login">VOTE NOW</a>
            </div>
            <div class="col-12 col-lg-8">
                <img class="banner" src="{% static 'mainbenner.png' %}" alt="Team process banner">
            </div>
        </div>
    </div>
{% endblock content %}
